/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  
  transition: visibility 0.2s ease-in-out;
  
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.product-image{
  width: 35%;
}
.product-image {

  transition: width 0.2s ease-in-out;
}


.product-image:hover {
  width: 55%;
}

.grid{
  max-width: 120 rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.6rem;
}

.product-description {
  /* Hide the description by default */
  visibility: hidden;
  
  
  
   /* Ensure the description appears on top of other content */

  /* Add transition for smooth visibility change */
  transition: visibility 0.2s ease-in-out;
}

/* Apply the hover effect to show the description */
.card:hover .product-description {
  visibility: visible;
}
